<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Bookmarks</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <p *ngIf="bookmarks.length === 0 || bookmarks === null" text-center>No bookmarks found.</p>
    <ion-list>
        <ion-item-sliding *ngFor="let series of bookmarks">
            <ion-item-options side="left">
                <button ion-button item-start color="danger" (click)="remove(series)">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>
            <ion-item>
                <h2 text-left>{{series.series}}</h2>
                <button id="{{series.seriesID}}_alert" disabled="true" icon-start ion-button clear item-end color="secondary" (click)="itemSelected($event, series)">
                <ion-icon name="alert"></ion-icon>
            </button>
            </ion-item>
            <ion-item-options>
                <button #notify id="{{series.seriesID}}_notify" ion-button icon-start item-end (click)="addNotification($event, series)">
                    <ion-icon name="notifications"></ion-icon>
                    Notify
                </button>
                <button id="{{series.seriesID}}_cancel" ion-button color="danger" icon-start item-end (click)="cancelNotifications(series)">
                    <ion-icon name='notifications-off'></ion-icon>
                    Cancel
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button ion-button full color="secondary" (click)="viewNotifications()">View Scheduled Notifications</button>
        <button ion-button full color="danger" (click)="cancelAll()">Cancel All Notifications</button>
    </ion-toolbar>
</ion-footer>