<!--
  Generated template for the ComicDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Comic Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home">
    <!--
    <ion-grid>
        <ion-row style="background-color: #e74c3c; flex: 1">
            <ion-card>
                <ion-row>
                    <ion-col col-5>
                        <img style="height: auto; width: auto; margin: auto; display: block" [src]="selectedItem.cover_url">
                    </ion-col>
                    <ion-col text-center col-7>
                        <h1 *ngIf="selectedItem">
                            {{selectedItem.title}}
                        </h1>
                        <p *ngIf="selectedItem">
                            By: {{selectedItem.creators}}
                        </p>
                        <p *ngIf="selectedItem">
                            Pub. Date: {{selectedItem.release_date}}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-row>

        <ion-row style="background-color: #f1c40f; flex: 1">
            <ion-col id="description">
                <p text-left *ngIf="selectedItem">
                    {{selectedItem.description}}
                </p>
            </ion-col>
        </ion-row>
        <div style="display: flex;">
            <ion-row style="background-color: #9b59b6; flex: 1;">
                <button col-12 col-sm [disabled]="added" ion-button icon-start (click)="addToPullList()">
                    <ion-icon name='add'></ion-icon>
                        Add to Pull List
                </button>

                <button col-12 col-sm [disabled]="!isSeries" ion-button icon-start (click)="bookmark(selectedItem)">
                    <ion-icon name='bookmark'></ion-icon>
                        Bookmark Series
                </button>
            </ion-row>
        </div>
    </ion-grid> -->

    <ion-card>
        <ion-row>
            <ion-col col-5>
                <img style="height: auto; margin: 0px; display: block" [src]="selectedItem.cover_url">
            </ion-col>
            <ion-col text-center col-7>
                <h1 *ngIf="selectedItem">
                    {{selectedItem.title}}
                </h1>
                <p *ngIf="selectedItem">
                    By: {{selectedItem.creators}}
                </p>
                <p *ngIf="selectedItem">
                    Release Date: {{selectedItem.release_date}}
                </p>
            </ion-col>
        </ion-row>
    </ion-card>
    <p *ngIf="selectedItem" padding>
        {{selectedItem.description}}
    </p>
    <!--
    <div text-center class="button-bottom">
        <button [disabled]="added" ion-button icon-start (click)="addToPullList()">
            <ion-icon name='add'></ion-icon>
            Add to Pull List
        </button>

        <button [disabled]="!isSeries" ion-button icon-start (click)="bookmark(selectedItem)">
            <ion-icon name='bookmark'></ion-icon>
            Bookmark Series
        </button>
    </div> -->
</ion-content>
<ion-footer>
    <div text-center>
        <button [disabled]="added" ion-button icon-start (click)="addToPullList()">
                    <ion-icon name='add'></ion-icon>
                    Add to Pull List
                </button>

        <button [disabled]="!isSeries" ion-button icon-start (click)="bookmark(selectedItem)">
                    <ion-icon name='bookmark'></ion-icon>
                    Bookmark Series
                </button>
    </div>
</ion-footer>