<!--
  Generated template for the ComicDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Comic Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col col-6>
                <!-- <img float-left style="height: auto; width: 50vw; margin: auto; display: block" [src]="selectedItem.cover_url"> -->
                <img style="height: auto; margin: auto; display: block" [src]="selectedItem.cover_url">

            </ion-col>
            <ion-col text-center col-6>
                <h1 *ngIf="selectedItem">
                    {{selectedItem.title}}
                </h1>
                <p *ngIf="selectedItem">
                    By: {{selectedItem.creators}}
                </p>
                <p *ngIf="selectedItem">
                    Release Date: {{selectedItem.release_date}}
                </p>
            </ion-col>
        </ion-row>
    </ion-card>
    <p text-center *ngIf="selectedItem">
        {{selectedItem.description}}
    </p>
    <div text-center>
        <button [disabled]="added" ion-button icon-start (click)="addToPullList()">
            <ion-icon name='add'></ion-icon>
            Add to Pull List
        </button>

        <button [disabled]="!isSeries" ion-button icon-start (click)="bookmark(selectedItem)">
            <ion-icon name='bookmark'></ion-icon>
            Bookmark Series
        </button>
    </div>
</ion-content>