<!--
  Generated template for the DcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Pull List</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <p *ngIf="items.length === 0 || items === null" text-center>You have nothing in your pull list!</p>
        <ion-list>
            <ion-item-sliding *ngFor="let item of items">
                <ion-item-options side="left">
                    <button ion-button item-start color="danger" (click)="remove(item)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </ion-item-options>
                <ion-item>
                <h2 text-left>{{item.title}}</h2>
                <p>{{item.price}}</p>
                </ion-item>
                <ion-item-options>
                    <button ion-button icon-start item-end (click)="itemSelected($event,item)">
                        <ion-icon name='eye'></ion-icon>
                        View
                    </button>
            </ion-item-options>
            </ion-item-sliding>    
        </ion-list>  
    </ion-content>
<!--
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <button item-left clear (click)="remove(item)">
            <ion-icon name="close"></ion-icon> 
          </button>
            <button ion-item (click)="itemSelected($event,item)">
            {{ item.title }}
            <div item-right>{{item.price}}</div>
          </button>
        </ion-item>
    </ion-list>
</ion-content> -->
<!--
<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <button ion-button icon-start item-start color="danger" (click)="remove(item)">
            <ion-icon name="close"></ion-icon> 
            Remove
            </button>
            <h2>{{item.title}}</h2>
            <p>{{item.price}}</p>
            <button ion-button icon-start item-end (click)="itemSelected($event,item)">
                <ion-icon name='eye'></ion-icon>
                View
            </button>
        </ion-item>
    </ion-list>
</ion-content> -->